<?xml version="1.0" standalone="yes"?>
<configuration>
  <runtime>
    <assemblyBinding>
      <publisherPolicy apply="yes"/>
    </assemblyBinding>
    <gcConcurrent enabled="true"/>
    <AppContextSwitchOverrides value="Switch.MS.Internal.DoNotApplyLayoutRoundingToMarginsAndBorderThickness=false"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.diagnostics>
    <assert assertuienabled="true" logfilename="Tektosyne.GuiTest.log"/>
    <trace autoflush="true" indentsize="2" />
  </system.diagnostics>
</configuration>
